{% extends 'main/base.html' %}


{% block title %} Yam {% endblock %}


{% block content %}
    <h1>Yam</h1>
	<p>Необычные сладости со всего мира!</p>
    <p>Мы специализируемся на поставках уникальных, редких и оооочень нестандартных сладостей со всего мира. В нашем магазине, ты сможешь найти эксклюзивные вкусняшки, не представленные в магазинах России и не только! Мы подобрали самые интересные решения для подарков на любой случай. Мы заботимся о качестве нашей продукции, мы постоянно расширяем наш ассортимент и ищем новых поставщиков самых удивительных сладких товаров. Мы сделали наш магазин максимально удобным для Вас. Широчайший ассортимент, доступные цены, отличный сервис, быстрая доставка по всей России и гарантия качества всей продукции, продаваемой на нашем сайте. Это и есть залог успеха нашего магазина.
    </p>
    <img src="https://i.pinimg.com/originals/43/45/54/434554865a634e0ba0cd50abbc06c688.jpg" alt="Магазин" style="width:45%">
{% endblock %}
